body {
    background-image: url("https://st2.depositphotos.com/1192512/5197/v/950/depositphotos_51979949-stock-illustration-colorful-abstract-crystal-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 30px auto;
}

img {
    height: 100px;
    width: 100px;
    margin: 20px;
}

 #title {
    background: lightblue;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.para {
    background: lightgoldenrodyellow;
    padding: 20px 0;
    margin: 10px auto;
    text-align: center;
}

