body {
    background: pink;
}

.container {
    margin: 30px auto;
}

img {
    height: 100px;
    width: 100px;
    margin: 20px;
}

 #title {
    background: orange;
    color: white;
    padding: 10px 0;
}

.para {
    background: lightgoldenrodyellow;
    padding: 20px 0;
    margin: 20px auto;
}

